.main-layout {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.main-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: black;
	height: 100%;
}

.task-done {
	text-decoration: line-through;
}

.todo-input {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-title {
	font-size: 24px;
	font-weight: 600;
	color: #213547;
}

.todo-container {
	padding: 10px 20px 20px 20px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	margin: 10px 0 20px 0;
}

/*

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
